@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');

body{
    background-color: black;
    height: auto;
    color: white;
    font-family: "Instrument Sans", sans-serif;
}

.frame-all{
    display: flex ;
    flex-direction: column;
    gap: 64px;
    /* Manque allignement */
}

.form{
    display: flex;
    flex-direction: column;
    gap: 16px;
    /* Manque allignement */
}

.information{
    display: flex;
    flex-direction: column;
    gap: 16px;
    /* Manque allignement */
}

.formNom-Prenom{
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.formNom input{
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 20px;
    border-radius: 12px;
}

.case{
    display: flex;
    flex-direction: column;
}